#wrap > .container {
  padding-top: 50px;
}

#footer > .container p {
  margin: 20px 0;
}

code {
  color: #333;
}

table.extensions th.name {
  width: 50%;
}

table.extensions th.version {
  width: 30%;
}

table.extensions th.actions {
  width: 20%;
}

table.bundles th.name {
  width: 35%;
}

table.bundles th.state {
  width: 15%;
}

table.bundles th.description {
  width: 50%;
}

form#post {
  display: none;
}


table.bundle th.name {
  width: 25%;
}

table.bundle td.value {
  width: 75%;
}

table.bundle ul {
  list-style: none;
  margin: 0;
}

table.package th.name {
  width: 60%;
}

table.package td.name {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

table.imported.package th.version {
  width: 20%;
}

table.exported.package th.version {
  width: 40%;
}
