#wrap > .container {
  padding-top: 50px;
}

#footer > .container .last-updated {
  margin: 20px 0;
}

code {
  color: #333;
}

table.extensions th.name {
  width: 50%;
}

table.extensions th.version {
  width: 30%;
}

table.extensions th.actions {
  width: 20%;
}

table.bundles th.name {
  width: 35%;
}

table.bundles th.state {
  width: 15%;
}

table.bundles th.description {
  width: 50%;
}

form#post {
  display: none;
}

