#wrap > .container {
  padding-top: 50px;
}

#footer > .container .last-updated {
  margin: 20px 0;
}

table th.name {
  width: 50%;
}

table.extensions th.version {
  width: 30%;
}

table.extensions th.actions {
  width: 20%;
}

table.core-bundles th.version {
  width: 50%;
}

form#post {
  display: none;
}

