body { padding-top: 60px }

table.models th.name { width: 40%; }
table.models th.version { width: 10%; }
table.models th.description { width: 50%; }

table.type thead { background: blue; color: white}

table.type tbody .name { width: 66%; }
table.type tbody .data-type { width: 34%; }

.sidebar li.nav-header { margin-top: 9px; color: #000; }

.sidebar li.main.nav-header { padding-left: 0; }

table.metadata .name { width: 34%; }
table.metadata .value { width: 66%; }
table.metadata ul { list-style: none; margin: 0; }

table.properties .name { width: 34%; }
table.properties .data-type { width: 22%; }
table.properties .mandatory { width: 22%; }
table.properties .default { width: 22%; }

table.associations .name { width: 34%; }
table.associations .source { width: 33%; }
table.associations .target { width: 33%; }

table.extensions .name { width: 66%; }
table.extensions .version { width: 34%; }
