#wrap > .container {
  padding-top: 50px;
}

#footer > .container p {
  margin: 20px 0;
}

code, pre {
  color: #333;
}

.well pre.fragment {
  background: white;
}

pre.fragment .comment {
  color: green;
}

table ul {
  list-style: none;
  margin: 0;
}

table.bundles th.name {
  width: 45%;
}

table.bundles th.status {
  width: 15%;
}

table.bundles th.modified {
  width: 20%;
}

table.bundles th.store {
  width: 20%;
}

table.bundle th.name {
  width: 25%;
}

table.bundle td.value {
  width: 75%;
}

table.package th.name {
  width: 60%;
}

table.imported.package th.version {
  width: 20%;
}

table.exported.package th.version {
  width: 40%;
}

table.service th.name {
  width: 60%;
}

table.service th.bean {
  width: 40%;
}

table.web-script th.method {
  width: 5%;
}

table.web-script th.uri {
  width: 45%;
}

table.web-script th.handler {
  width: 50%;
}

form#post {
  display: none;
}

.row .actions {
  margin-top: 10px;
}

.row .actions form {
  display: inline-block;
  margin: 0;
}

.popover {
	max-width: initial;
}