name: integration-test

on:
  push:
    branches:
      - master*
      - release*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Integration Test
        run: ./gradlew integrationTest